<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <title>Pierce RSS Reader</title>
    <!--<link rel='stylesheet' href='dock-manager.css'>-->
    <link rel='stylesheet' href='sunny.css'>
    <link rel='stylesheet' href='pierceweb.css'>
    <script type='text/javascript' src='jquery-1.9.1.js'></script>
    <script type='text/javascript' src='jquery-ui-1.10.2.js'></script>
    <script type='text/javascript' src='jquery.layout.js'></script>
    <script type='text/javascript' src='underscore-min.js'></script>
    <script type='text/javascript' src='app.js'></script>

    <!-- Mustache/icanhaz templates! -->
    <script id='feedli' type='x-jqote-template'>
      <div id='feedli_<%- feed.Id %>' class='feedli<% if (domain.unreadCount(feed) > 0) {
        print(' unread'); } %>' onclick='ui.showFeed("<%= feed.Id %>");'>
        <%
          var unreadc = domain.unreadCount(feed);
          if (unreadc) print('(' + unreadc + ') ');
        %>
        <% if (feed.ImageUri) { %>
          <img style='height: 1em; width: 1em;' src='<%- feed.ImageUri %>'></img>
        <% } %>
        <%-  feed.Title  %>
      </div>
    </script>

    <script id='articleli' type='x-jqote-template'>
      <div
        id='<%- domain.articleId(feed, article) %>'
        class='articleli <%- article.IsRead ? "read" : "unread" %>'
        onclick='ui.showArticle("<%= feed.Id %>", "<%= article.Id %>");'>
        <img style='height: 1em; width: 1em;' src='<%= feed.ImageUri %>'></img>
        <%- article.Title %>
      </div>
    </script>

    <script id='articlefull' type='text/html'>
      <div>
        <img style='float: left' src='<%= feed.ImageUri %>'></img>
        <h3><%- article.Title %> - <%- feed.Title %></h3>
        <div><%- article.PublishDate.toISOString() %>
          <% if (article.Author) { %> -- by <%- article.Author %><% } %></div>
        <frame><%= article.Description %></frame>
      </div>
    </script>
  </head>
  <body>
    <div id='headerBar'>
      <span id='userName'>Not logged in</span>
      <span style='float: right'>Settings</span>
    </div>
    <div id='mainPanel'>
      <div id='articleView' caption='Current article' class='articleView'>
        <div class='paneTitle'>Article</div>
        <div class='content'>
          I need an article.
        </div>
      </div>
      <div id='articleList' caption='Articles' class='articleList'>
        <div class='paneTitle'>Articles</div>
        <div class='content'>
          A list of articles, natch.
        </div>
      </div>

      <div id='feedList' caption='Feeds' class='feedList'>
        <div class='paneTitle'>Feeds</div>
        <div class='content'>
          I need some feeds.
        </div>
        <div style='float: bottom; border-top: 1px solid #aaa'>
          <a id='addFeedButton' href='#'>Add a feed</a>
        </div>
      </div>

      <!-- Popups! -->

      <div id='addFeedWindow' title='Add a feed' class='addFeed'>
        <div style='width: 25em'>
          <div>
            <label for='addFeedUrl'>Feed URL:</label>
            <input type='text' id='addFeedUrl' style='width: 98%%' />
          </div>
          <div id='multifeed'>
            <select id='multifeedOptions'></select>
          </div>
        </div>
        <!-- TODO tags / labels / categories -->
      </div>

      <div id='login_window' title='Log In' class='login' style='width: 800px'>
        <table>
          <tr>
            <td><label for='email'>Email address:</label></td>
            <td><input id='email' type='text' value='dhasenan@gmail.com' /></td>
          </tr>
          <tr>
            <td><label for='password'>Password:</label></td>
            <td><input id='password' type='password' value='password' /></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
