html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-color: #fafaff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: hidden;
  position:fixed;
  height: 100%;
  width: 100%;
}

.paneTitle {
  width: 100%;
  background-color: #444;
  color: #fee;
  padding: 0.2em;
  padding-left: 0.3em;
}

.paneTitle a {
  color: #f0e0e0;
  padding-right: 0.5em;
}

#headerBar {
  background-color: #e95; 
}

#mainContent {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}
#feedColumn {
  width: 20%;
  max-width: 25em;
  height: 100%;
}
#articleColumn {
  width: 20%;
  max-width: 35em;
  height: 100%;
}
#articleViewColumn {
  width: 60%;
  height: 100%;
}
.column {
  float: left;
  height: 100%;
}

#articleList {
  border-right: 1px solid gray;
  height: 100%;
}
.articleli {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.25em;
  vertical-align: center;
}
#feedList {
  border-right: 1px solid gray;
  height: 100%;
}
.articleView {
  overflow: auto;
}
#articleViewColumn {
  overflow: auto;
}
#articleView {
  overflow: auto;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em;
}

.feedli img {
  position: relative;
  top: 2px;
}

div.feedRow {
  border-bottom: 1px dotted gray;
  margin-top: 0.2em;
  margin-left: 1em;
  padding-bottom: 0.2em;
}

.unread {
  font-weight: bold;
}

.selectedItem {
  background: #e95;
}
