
body {
  background-color: #fafaff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: hidden;
  position:fixed;
}

.paneTitle {
  width: 100%;
  background-color: #444;
  color: #fee;
  padding: 0.2em;
  padding-left: 0.3em;
}

.paneTitle a {
  color: #f0e0e0;
  padding-right: 0.5em;
}

.content {
  background-color: #fafafa;
}

.ui-layout-resizer-west {
  width: 4px !important;
}

.ui-layout-resizer-south {
  height: 4px !important;
}

.ui-layout-pane {
  background-color: #fdfdff !important;
}

.ui-layout-resizer {
  background-color: #e95 !important;
}

.login {
  background-color: #8af;
}

#headerBar {
  background-color: #e95; 
}

.selectedItem {
  background-color: #ddd;
}

.unread {
  font-weight: bold;
}

.listRow {
  overflow: hidden;
  white-space: nowrap;
  margin: 0.2em;
  padding-right: 0.4em;
  font-size: 9pt;
  text-overflow: ellipsis;
}

.feedli {
  overflow: hidden;
  white-space: nowrap;
  margin: 0.2em;
  margin-left: 2em;
  font-size: 9pt;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
}

.feedli img {
  position: relative;
  top: 4px;
}

.feedName {
  line-height: 1em;
  height: 1em;
}

.articleli {
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2em;
  font-size: 9pt;
  text-overflow: ellipsis;
  border-bottom: 1px dotted #aaa;
}

.collapsed .labelContent {
  display: none;
}

.expanded .labelContent {
  display: block;
}

a {
  color: #39e;
  text-decoration: none;
}

