<?xml version="1.0" encoding="UTF-8"?>
<log4net>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %level %location - %m%newline" />
		</layout>
		<file value="pierce.log" />
		<rollingStyle value="Composite" />
		<dateTimeStrategy value="UniversalDateTime" />
		<datePattern value="yyyy-MM-dd" />
		<maxSizeRollBackups value="30" />
	</appender>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %level %location - %m%newline" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</log4net>