<?xml version="1.0" encoding="UTF-8"?>
<log4net>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %level %location - %m%newline" />
		</layout>
		<file value="pierce.log" />
		<rollingStyle value="Composite" /><!-- Composite happens to be default, but oh well. -->
		<dateTimeStrategy value="UniversalDateTime" />
		<datePattern value="yyyy-MM-dd" />
	</appender>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %level %location - %m%newline" />
		</layout>
	</appender>
	<appender name="email" type="log4net.Appender.SmtpAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate %-5level %location - %m%newline" />
		</layout>
	    <subject value="Pierce is not feeling well :(" />
	    <from value="pierce@pierce.ikeran.org" />
	    <to value="dhasenan@gmail.com" />
	    <bufferSize value="20" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="WARN" />
		</evaluator>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
		<appender-ref ref="email" />
	</root>
</log4net>